<div class="text-center">
<h1 >Каталог {{nameProvider}}</h1>
<br />


<div *ngIf="isShowStatusMessage">
    <p>{{statusMessage}}</p>
    <button (click)="showStatusMess()">Ok</button>
    <br/> <br/>
</div>

<table class="table">
    <tr>
        <th>Каталог</th>
        <th>Информация</th>
        <th></th>
        <th></th>
 
    </tr>
        <tr *ngFor="let catalog of catalogs">
            <td>{{catalog.name}}</td>
            <td>{{catalog.info}}</td>
            <!-- <td><a class="btn btn-sm btn-primary" asp-controller="Dish" asp-action="Index" asp-route-catalogId="@catalog.Id" asp-route-menuId="@Model.MenuId">  @SharedLocalizer["Dishes"]</a></td> -->
            <td><a class="btn btn-sm btn-primary">Блюда</a></td>
            <!-- @if (User.IsInRole("admin"))
            { -->
                <td>               
                        <button class="btn btn-sm btn-danger admB">Изменить</button>                   
                        <button class="btn btn-sm btn-danger admB" (click)="deleteCatalog(catalog.id)">Удалить</button>
                </td>

            <!-- } -->
        </tr>
    
</table>

</div>