@model IEnumerable<Web.Models.Roles.RoleViewModel>

@{
    ViewData["Title"] = "Роли";
}
 <h1 class="text-center">Список ролей</h1>
<br />

<table class="table">
    @foreach (var role in Model)
    {
        <tr>
            <td>@role.Name</td>
            <td>
                <form asp-action="Delete" asp-route-id="@role.Id" method="post">
                    <button type="submit" class="btn btn-sm btn-danger">
                        Удалить
                    </button>
                </form>
            </td>
        </tr>
    }
</table>
<a asp-action="Create"  class="btn btn-sm btn-primary" >Добавить роль</a>
<a asp-action="UsersListByRole"  class="btn btn-sm btn-primary" >Список пользователей</a>