@model Web.Models.Account.RegisterViewModel

@{
    ViewData["Title"] =  @SharedLocalizer["Registration"];
}
    <h1 class="text-center"> @SharedLocalizer["Registration"]</h1>
<br />
<div class="text-center">
    <form method="post" autocomplete="off" asp-controller="Account" asp-action="Register">
        <div asp-validation-summary="All" class="text-danger"></div>
        <div>
            <label asp-for="Firstname" class="control-label"></label><br />
            <input asp-for="Firstname" class="form-control" />
            <span asp-validation-for="Firstname"></span>
        </div>
        <div>
            <label asp-for="Lastname" class="control-label"></label><br />
            <input asp-for="Lastname" class="form-control"/>
            <span asp-validation-for="Lastname"></span>
        </div>
        <div>
            <label asp-for="Patronymic" class="control-label"></label><br />
            <input asp-for="Patronymic" class="form-control"/>
        </div>
        <div>
            <label asp-for="Email" class="control-label"></label><br />
            <input asp-for="Email" class="form-control" />
        </div>
        <div>
            <label asp-for="Password" class="control-label"></label><br />
            <input asp-for="Password" class="form-control" />
        </div>
        <div>
            <label asp-for="PasswordConfirm" class="control-label"></label><br />
            <input asp-for="PasswordConfirm" class="form-control" />
        </div>
        <br />
        <div>
            <input type="submit" value=" @SharedLocalizer["SignUp"]"  class="btn btn-sm btn-success"  />
        </div>
    </form>
    </div>
