<div >
    <h1 class="text-center">Меню блюд на {{dateMenu}}</h1>
    <br />
                       
        <div class="form-inline form-group ">
            <form autocomplete="off" class="text-center" >
                <!-- <input type="button" value="Добавить" class="btn btn-success mr" (click)="addDish()" /> -->
            <select name="searchSelectionString"  [(ngModel)]="searchSelectionString" class="form-control mr">
                <option>Поиск по</option>
                <option *ngIf="isAdminMyRole;">Id блюда</option>
                <option *ngIf="isAdminMyRole;">Id каталога</option>
                <option>Названию</option>
                <option>Информации</option>
                <option>Весу</option>
                <option>Цене</option>
            </select>
            <input type="text" name="name" class="inputSearch form-control mr " [(ngModel)]="searchStr" placeholder="Поиск"/>
            <input type="button" value="Обновить" (click)="refresh()"  class="btn btn-success mr" />
            </form>
        </div>

        <div  class="row mt-5 mb-2">
        <div  class="col-lg-4" *ngFor="let menuDish of getMenuDishes()">
            <div>
                <img width="360" height="180" class="img-thumbnail" [src]="menuDish.path" [alt]="menuDish.name" />
                <p *ngIf="isAdminMyRole;">Id блюда: {{menuDish.dishId}}</p>
                <p *ngIf="isAdminMyRole;">Id каталога: {{menuDish.catalogId}}</p>
                <p>Название: {{menuDish.name}}</p>
                <p>Вес: {{menuDish.weight}}</p>
                <p>Цена: {{menuDish.price}}</p>
                <p>Информация: {{menuDish.info}}</p>
                <div *ngIf="isAdminMyRole;">
                  <input type="button" class="btn btn-primary" value="Добавить в корзину" />
                </div>
            </div>
            <br/>
        </div>      
    </div>
    </div>
