<div class="text-center">
    <h1>Профиль</h1>
        <br />
        <span>Имя:  {{profileModel.firstname}}</span><br/>
        <span>Фамилия: {{profileModel.lastname}}</span><br/>
        <span>Отчество:{{profileModel.patronymic}}</span><br/>
        <span>Email: {{profileModel.email}}</span><br/><br/>
        <button id="a1" class="btn btn-sm btn-success" (click)="editProfileShow()">Изменить</button>
        <a id="a2"  class="btn btn-sm btn-success" href="">Сменить пароль</a><br/>
        <div *ngIf="isEditProfile">
            <br/>
            <h4 class="text-center">Изменение профиля</h4>
            <div class="text-success" *ngIf="isStatusEditGood">
                <p>Данные успешно изменены</p>
                <button (click)="OkEdit()">Ok</button>
            </div>
            <div class="text-danger" *ngIf="isStatusEditBad">
                <p>Ошибка изменения</p>
            </div>
            <form method="post" autocomplete="off" *ngIf="!isStatusEditGood">
                     
                <div>
                    <label for="firstname" class="control-label">Имя</label>
                    <input name="firstname"  [(ngModel)]="editProfileModel.firstname" type="text" id="firstname" class="form-control" placeholder="Имя" />
                </div>
                <div>
                    <label for="lastname" class="control-label">Фамилия</label>
                    <input name="lastname" [(ngModel)]="editProfileModel.lastname" type="text" id="lastname" class="form-control" placeholder="Фамилия" />
                </div>
                <div>
                    <label for="patronymic" class="control-label">Отчество</label>
                    <input name="patronymic" [(ngModel)]="editProfileModel.patronymic" type="text" id="patronymic" class="form-control" placeholder="Отчество" />
                </div>
                <div>
                    <label for="email" class="control-label">Email</label>
                    <input name="email" type="text" [(ngModel)]="editProfileModel.email"  id="email" class="form-control" placeholder="Email" />
                </div><br/>
                <div>
                    <input type="submit" (click)="editProfile()" value="Изменить" class="btn btn-sm btn-success" />
                </div>
                <br/>
            </form>
        </div>
    </div>

