<div class="text-center">
    <h1 >Корзина</h1>
    <br />

    <div *ngIf="isShowStatusMessage">
        <p>{{statusMessage}}</p>
        <button (click)="showStatusMess()">Ok</button>
        <br/> <br/>
    </div>

</div>
<div >     
        <table class="table">
            <tr>
                <th>Блюдо</th>
                <th>Название</th>
                <th>Информация</th>
                <th>Вес</th>
                <th>Цена</th>
                <th>Количество</th>
                <th>Цена за количество</th>
                <th></th>
                <th></th>
            </tr>
            <tr *ngFor="let cartD of cartDishes">
                <td> <img class="esh-basket-image" [src]="cartD.path" [alt]="cartD.name" /></td>
                <td>{{cartD.name}}</td>
                <td>{{cartD.info}}</td>
                <td>{{cartD.weight}}</td>
                <td>{{cartD.price}}</td>
                <td>               
                        <input type="hidden" name="dishCartId" value="cartD.id" />
                        <input class="countDish" type="number" min="1" max="100"  [(ngModel)]="cartD.count" name="count" />
                </td>

                <td>{{getTotalPrice(cartD)}} BYN</td>
                <td>
                    <button class="btn btn-danger" (click)="deleteCartDish(cartD.id)">Удалить</button>
                </td>
                <td></td>
            </tr>
        </table>

        <div>
                <button class="btn btn-primary" (click)="updateData()">Обновить</button>
                <button class="btn btn-success" (click)="createOrder()">Заказать</button>
                <button class="btn btn-warning"  (click)="backClicked()" >Назад</button>
                <button class="btn btn-danger" (click)="deleteAllDishesInCart()">Очистить корзину</button>
                <h3 class="float-right">Общая цена: {{getFullPrice()}} "BYN"</h3>
        </div>

    </div>       
<br/>