@{
    ViewData["Title"] = @SharedLocalizer["Privacypolicy"];
}

    <h1 class="text-center">@SharedLocalizer["Privacypolicy"]</h1>
<br />

<p class="text-center">@SharedLocalizer["PrivacypolicyInfo"]</p>
