@model Web.Models.Provider.ListProviderViewModel

@{
    ViewData["Title"] = @SharedLocalizer["FavoriteProvider"];
}

    <h1 class="text-center">@SharedLocalizer["FavoriteProvider"]</h1>
<br/>

<div class="row mt-5 mb-2">
    @{
        foreach (Web.Models.Provider.ProviderViewModel provider in Model.Providers)
        {
            @await Html.PartialAsync("_ProvidersList", provider)
        }
    }
</div>
