<div >
    <h1 class="text-center">Блюда {{nameCatalog}}</h1>
    <br />
        
        <div *ngIf="isShowStatusMessage">
            <p>{{statusMessage}}</p>
            <button (click)="showStatusMess()">Ok</button>
            <br/> <br/>
        </div>
            
        <!-- view catalogs -->
        <div *ngIf="isView">
        <div class="form-inline form-group ">
            <form autocomplete="off" class="text-center" >
                <input type="button" value="Добавить" class="btn btn-success mr" (click)="addDish()" />
            <select name="searchSelectionString"  [(ngModel)]="searchSelectionString" class="form-control mr">
                <option>Поиск по</option>
                <option *ngIf="isAdminMyRole;">Id</option>
                <option>Названию</option>
                <option>Информации</option>
                <option>Весу</option>
                <option>Цене</option>
            </select>
            <input type="text" name="name" class="inputSearch form-control mr " [(ngModel)]="searchStr" placeholder="Поиск"/>
            <input type="button" value="Обновить" (click)="refresh()"  class="btn btn-success mr" />
            </form>
        </div>

        <div  class="row mt-5 mb-2">
        <div  class="col-lg-4" *ngFor="let dish of getDishes()">
            <div>
                <img width="360" height="180" class="img-thumbnail" [src]="dish.path" [alt]="dish.name" />
                <p *ngIf="isAdminMyRole;">Id: {{dish.id}}</p>
                <p>Название: {{dish.name}}</p>
                <p>Вес: {{dish.weight}}</p>
                <p>Цена: {{dish.price}}</p>
                <p>Информация: {{dish.info}}</p>
                <div *ngIf="isAdminMyRole;">
                  <input type="button" class="btn btn-danger admB" (click)="editDish(dish)" value="Изменить" />
                  <input type="button" class="btn btn-danger admB" (click)="deleteDish(dish.id)" value="Удалить"/>
                </div>
            </div>
            <br/>
        </div>      
    </div>
    </div>
    <br/>  
     
        
        
</div>