<div >
    <h1 class="text-center">Блюда {{nameCatalog}}</h1>
    <br />
        
        <div class="text-center" *ngIf="isShowStatusMessage">
            <p>{{statusMessage}}</p>
            <button (click)="showStatusMess()">Ok</button>
            <br/> <br/>
        </div>
            
        <!-- view catalogs -->
        <div *ngIf="isView">
        <div class="form-inline form-group ">
            <form autocomplete="off" class="text-center" >
              <input *ngIf="isAdminMyRole && isCompilation" type="button" value="Составить меню" class="btn btn-success mr" (click)="addDishToMenu()" />
                <input type="button" value="Добавить" class="btn btn-success mr" (click)="addDish()" />
            <select name="searchSelectionString"  [(ngModel)]="searchSelectionString" class="form-control mr">
                <option>Поиск по</option>
                <option *ngIf="isAdminMyRole;">Id</option>
                <option>Названию</option>
                <option>Информации</option>
                <option>Весу</option>
                <option>Цене</option>
            </select>
            <input type="text" name="name" class="inputSearch form-control mr " [(ngModel)]="searchStr" placeholder="Поиск"/>
            <input type="button" value="Обновить" (click)="refresh()"  class="btn btn-success mr" />
            <input type="button" value="Назад" class="btn btn-warning mr" (click)="backClicked()" />
            </form>
        </div>

        <div  class="row mt-5 mb-2">
        <div  class="col-lg-4" *ngFor="let dish of getDishes()">
            <div>
                <img width="360" height="180" class="img-thumbnail" [src]="dish.path" [alt]="dish.name" />
                <p *ngIf="isAdminMyRole && isAdminMyRole;">Id: {{dish.id}}</p>
                <p>Название: {{dish.name}}</p>
                <p>Вес: {{dish.weight}}</p>
                <p>Цена: {{dish.price}}</p>
                <p>Информация: {{dish.info}}</p>
                <div *ngIf="isAdminMyRole;">
                  <input type="button" class="btn btn-danger admB" (click)="editDish(dish)" value="Изменить" />
                  <input type="button" class="btn btn-danger admB" (click)="deleteDish(dish.id)" value="Удалить"/>
                  <div *ngIf="isCompilation && isAdminMyRole">
                    <label for="addMenu_{{dish.id}}">Добавить в меню</label>
                    <input name="addMenu"  id="addMenu_{{dish.id}}" type="checkbox" [(ngModel)]="dish.addMenu">   
                      </div>
                </div>
            </div>
            <br/>
        </div>      
    </div>
    </div>

<!-- add provider -->
<div *ngIf="isNewRecord" class="text-center">
    <form autocomplete="off" >
      <div class="text-center">
        <app-upload (notify)='onNotify($event)'></app-upload>
      </div>
        <div>
            <label for="name" class="control-label">Название</label><br />
            <input name="name" id="name" class="form-control" [(ngModel)]="editedDish.name" placeholder="Название"/>
            <span></span>
        </div>
        <div>
            <label for="weight" class="control-label">Вес</label><br />
            <input  type="number" name="weight" id="weight" class="form-control" [(ngModel)]="editedDish.weight"  placeholder="Вес" />
        </div>
        <div>
          <label for="price" class="control-label">Цена</label><br />
          <input type="number" name="price" id="price" class="form-control" [(ngModel)]="editedDish.price"  placeholder="Цена" />
      </div>
      <div>
            <label for="info" class="control-label">Информация</label><br />
            <input  name="info" id="info" class="form-control"  [(ngModel)]="editedDish.info"  placeholder="Информация"/>
        </div>
        <br />
        <div>
            <input type="button" value="Сохранить" (click)="saveDish()" class="btn btn-success" />
        </div><br/>
        <div>
            <input type="button" value="Назад" (click)="cancel()" class="btn btn-warning" />
        </div>
    </form>
  </div>  

<!--edit dish -->
<div *ngIf="isEdit">
    <form autocomplete="off" >
      <div class="text-center">
        <app-upload [fileNameR]="editedDish.path" (notify)='onNotify($event)'></app-upload>
    
      <div>
        <input type="number" name="id" id="id" class="form-control" [(ngModel)]="editedDish.id" placeholder="id" hidden/>
      </div>
      <div>
        <label for="name" class="control-label">Название</label><br />
        <input name="name" id="name" class="form-control" [(ngModel)]="editedDish.name" placeholder="Название"/>
        <span></span>
    </div>
    <div>
        <label for="weight" class="control-label">Вес</label><br />
        <input  type="number" name="weight" id="weight" class="form-control" [(ngModel)]="editedDish.weight"  placeholder="Вес" />
    </div>
    <div>
      <label for="price" class="control-label">Цена</label><br />
      <input type="number" name="price" id="price" class="form-control" [(ngModel)]="editedDish.price"  placeholder="Цена" />
  </div>
  <div>
        <label for="info" class="control-label">Информация</label><br />
        <input  name="info" id="info" class="form-control"  [(ngModel)]="editedDish.info"  placeholder="Информация"/>
    </div>
        <br />
        <div>
            <input type="button" value="Изменить" (click)="saveDish()" class="btn btn-success" />
        </div><br/>
        <div>
            <input type="button" value="Назад" (click)="cancel()" class="btn btn-warning" />
        </div>
      </div>
    </form>
  </div>   
  

    <br/>  
</div>
